$white: rgba(241, 247, 248, 1);
$night: rgba(10, 10, 22, 1);
$antique-white: rgba(255, 238, 219, 1);
$yinmn-blue: rgba(62, 81, 122, 1);
$rose-quartz: rgba(176, 142, 162, 1);
$blue: rgb(0, 76, 121);
$green: rgb(50, 129, 125);

:root{
    --first: #0066a0;
    --second: rgb(200, 162, 212);
    --light: #E4EAEA;
    --gray: #ccc;
    --dark: rgb(43, 44, 51);
    --antique_white: rgb(255, 238, 219);
    --yin_blue: rgb(62, 81, 122);
    --rose_quartz: rgb(176, 142, 162);
    --night: rgb(9, 17, 3);
    --antiflash_white: rgb(241, 247, 248);
    $antiflash-white: rgba(241, 247, 248, 1);
    $night: rgba(9, 17, 3, 1);
    $antique-white: rgba(255, 238, 219, 1);
    $yinmn-blue: rgba(62, 81, 122, 1);
    $rose-quartz: rgba(176, 142, 162, 1);

}

// /* CSS HEX */
// --antiflash-white: #f1f7f8ff;
// --night: #091103ff;
// --antique-white: #ffeedbff;
// --yinmn-blue: #3e517aff;
// --rose-quartz: #b08ea2ff;

// /* CSS HSL */
// --antiflash-white: hsla(189, 33%, 96%, 1);
// --night: hsla(94, 70%, 4%, 1);
// --antique-white: hsla(32, 100%, 93%, 1);
// --yinmn-blue: hsla(221, 33%, 36%, 1);
// --rose-quartz: hsla(325, 18%, 62%, 1);



/* SCSS RGB */
