import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Chivo Mono', monospace;
    background-color: black;
    color: white;
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 10vh;
    background-color: #334;
}

#see-cart {
    cursor: pointer;
    font-size: 18pt;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(38, 38, 38, 0.5)), url(../assets/city.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(231, 229, 229);
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 10px  rgb(38, 38, 38);
}
.banner p {
    font-size: 1.5rem;
}



/* Products cards */

#shop {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0, 0.2);
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 300px;
}

.price {
    color: gray;
    font-size: 22px;
}

.shop-btn {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #334;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
}

.shop-btn:hover{
    opacity: 0.7;
}




/* Modal */

.modal-container {
    
    background-color: #334;
    right: 0;
    max-height: 88vh;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 10vh;
    scrollbar-color: none;
    animation: swipeLeft .26s ease;
}
@keyframes swipeLeft {
    from {
      right: -600px;
    }
  
    to {
      right: 0;
    }
  }

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: beige;
    color: #334;
}

.modal-btn {
    cursor: pointer;
}

.modal-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: 10px;
}

.modal-info {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.modal-content img {
    height: auto;
    width: 80px;
}
.modal content h3, .modal-content p {
    font-size: smaller;
}

.total-content {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-element {
    cursor: pointer;
}


.sum, .rest {
    cursor: pointer;
}

/* Cart products counter */
.counter {
    background-color: white;
    color: #334;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px 3px 5px 3px;
    right: 0;
    margin-right: 25px;
    margin-top: -10px;
    text-align: center;
    width: 10px;
    height: 10px;
    position: absolute;
    display: none;
    box-shadow: 1px 1px 8px 0px rgba(215, 215, 212, 0.254);
}

/* Banner */
.off{

    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(38, 38, 38, 0.5)), url(../assets/off.jpg);
    width: 80vw;
    height: 450px;
    margin: 100px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.off h2{
    font-size: 5rem;
}
.off h3 {
    font-size: 3.5rem;
}