import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Chivo Mono', monospace;
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0 24px;
    height: 10vh;
    background-color: white;
}

#see-cart {
    cursor: pointer;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(38, 38, 38, 0.5)), url(../assets/city.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
       height: 70vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(231, 229, 229);
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 10px  rgb(38, 38, 38);
}
.banner p {
    font-size: 1.5rem;
}



/* Products cards */

#shop {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 400px;
}

.price {
    color: gray;
    font-size: 22px;
}

.shop-btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(212, 85, 85);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.shop-btn:hover{
    opacity: 0.7;
}




/* Modal */

.modal-container {
    width: 600px;
    background-color: rgb(212, 85, 85);
    right: 0;
    max-height: 88vh;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 2;
    top: 10vh;
    scrollbar-color: none;
    animation: swipeLeft .26s ease;
}
@keyframes swipeLeft {
    from {
      right: -600px;
    }
  
    to {
      right: 0;
    }
  }

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
}

.modal-btn {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-content img {
    height: auto;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-element {
    cursor: pointer;
}

/* Cart products counter */
.counter {
    background-color: rgb(212, 85, 85);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2.5px;
    width: 10px;
    height: 10px;
    position: absolute;
    display: none;
}