@use '../globals/' as g;

.projects {
    margin: 6rem auto;
    h2 {
        text-align: center;
    }
}

.card {
    border-radius: 25px;
    background-color: g.$blue;
    transition: all .5s ease-out;
    overflow: hidden;
    color: g.$white;
}

.card-image {
    // width 100% abarca el 100% de su contenedor. aspect ratio permite definir la relación alto y ancho, ej 1/1 es cuadrado. Object-fit: cover, cubre el espacio sin deformar la imagen.
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
}

.card-content {
    padding: 20px 14px;
    text-align: center;
}


.project-name {
    color: g.$antique-white;
    font-size: 1.2rem;
}


.i {
    padding-block: 1rem;
}

.project-btn {
    border: none;
    font-size: 0.8rem;
    padding: .5rem;
    background-color: g.$antique-white;
    border-radius: .4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.general-btn, .general-btn a:visited{
    border: none;
    font-size: 1rem;
    padding: 6px 13px;
    background-color: g.$blue;
    color: var(--light);
    border-radius: .4rem;
    text-decoration: none;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.project-btn:hover, .general-btn:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: rgb(43, 44, 51) 1px 1px 5px;
}

// .slider-icon {
//     position: absolute;
//     top: calc(60% - 100px);
//     height: 100px;
//     border: none;
//     background-color: var(--first);
//     color: var(--light);
//     font-size: min(calc(1vh + 1rem), 3rem);
//     cursor: pointer;
//     border-radius: .4rem;
//     transition: all .3s ease-in-out;
// }
// .slider-icon:hover, .indicators button:hover{
//     opacity: .7;
// }
// .icon-prev{
//     left: 0;
// }
// .icon-next{
//     right: 0;
// }

// .indicators{
//     text-align: center;
// }
// .indicators button{
//     cursor: pointer;
//     padding: .3rem;
//     border: none;
//     border-radius: 50%;
//     background-color: var(--first);
// }
// .indicators button.active{
//     padding: .5rem;
//     transition: all .5s ease-in;
// }

// .small {
//     text-decoration: none;
//     font-size: 0.75rem;
//     margin: 0;
//     padding:0;
// }

/* Projects Gallery */
// .projects-slider{
//     text-align: center;

//     // @media screen and (min-width:768px) {
//     //     max-width: 960px;
//     // }
    
//     .slide-container{
//         position: relative;

//         .gallery {
//         max-width: 1120px;
//         width: 100%;
//         display: block;
//         padding: 0;

//             .card{
//             width: min(380px, 90vw);
//             border-radius: 25px;
//             background-color: g.$blue;
//             text-align: center;
//             display: none;
//             transition: all .5s ease-out;
//             }
//             .card.active {
//             display:block;
//             margin: auto;
//             }
//         }
//     }
// }