$colors:
   primary #448,
   secondary #c36,
   light #eee,
   warning #da3,
   danger #c33,
   info #36c;

$attributes:
    text        color,
    bg          background-color,
    border      border-color,
    outline     outline-color,
    shade       --shade,
    shadow      --shadow;



$col:24;
$media:
    sm      576px   540px,
    md      768px   720px,
    lg      992px   960px,
    xl      1200px 1140px,
    xxl     1400px  1320px;

@mixin normalize($m:0, $p:0, $b:0, $bo:border,$ma:margin, $pa:padding){
    #{$bo}:$b;
    #{$ma}:$m;
    #{$pa}:$p;
}
// Sistema e grillas
@for $i from 1 through $col {
    .col-#{$i}{
        width: percentage($i/$col);
    }
}

@each $vn, $vw, $vmax in $media{
    @media screen and (min-width: $vw){
        .container,
        .container-#{$vn}{
            max-width: $vmax;
        }
        @for $i from 1 through $col{
            .col-#{$vn}-#{$i}{
                width: percentage($i/$col);
            }
        }
    }
}


@each $prop, $attr in $attributes{
    @each $cname, $cval in $colors{
        .#{$prop}-#{$cname}{
            #{$attr}: $cval;
        }
    }
}
@each $cname, $cval in $colors{
    .grad-#{$cname}{
        background: linear-gradient(
            $cval, darken($cval,35%)
        );
    }
}




#contact-form{
    position: relative;
    #contact {
        @include normalize(5rem auto, 2rem 1rem ,.5rem, border-radius);
        @extend .col-sm-20, .col-md-16, .col-lg-12,  .container-md, .grad-danger;
        display: grid;
        input,
        textarea,
        select{
            @include normalize(.5rem 0, .5rem 1rem);
            &:focus{
                box-shadow: 0 .2rem .5rem rgb(31, 31, 37);
                & + .valid{
                    max-height: 100vh;
                    padding: .5rem; }
            }
            &:not(:placeholder-shown):invalid{
                border: 1px solid #c33;
                & + .valid{@extend .text-danger;}
            }
        }
        .btn {
            @include normalize(.5rem 0 1rem auto, .5rem 1rem, uppercase, text-transform)
        }
    }
    .valid{
        max-height: 0;
        overflow: hidden;
        font-size: smaller;
        color: var(--second);
    }
}

