@use 'sass:math';
$functions: lineal, cuadratica, trigonometrica, exponencial, limite;


.bouncing-balls{
    display: flex;
    height: 200px;
}
div.balls{
    width: 2rem;
    height: 2rem;
    margin: auto 1rem;
    background-color: var(--light);
    border-radius: 50%;
    box-shadow: .2rem 0.2rem 1rem rgb(234, 156, 0, .6);
    @for $i from 1 through length($functions){
        &:nth-child(#{$i}n){
            animation: nth($functions, $i) 3s linear .5s * $i alternate infinite;
            background-color:
            hsl($i *19, 50%, 50%);
        }
    }
}
@each $f in $functions{
    @keyframes #{$f}{
        @for $i from 0 through 100{
            $y:0;
            @if $f == cuadratica {
                $x: ($i - 50) / 2;
                $y: math.pow($x, 2);
            } @else if $f == trigonometrica {
                $y: math.sin($i) * 5;
            } @else if $f == exponencial {
                $x: math.div($i, 10);
                $y: math.pow(1.1, $x);
            } @else if $f == limite {
                $x: $i - 50;
            }
            #{$i}%{
                transform: translate($i * 1vw, $y *1vh);
            }
        }

    }
}