.gallery li {
    opacity: 0;
    transition: all .5s ease-out;
}
.gallery li.active{
    opacity: 1;
}
[class*="gallery-"]{
    border: none;
    padding: 1 rem, 20%;
    color: var(--light);
    background-color: transparent;
    font-size: min(calc(2vw + 1rem), 5rem);
}

.indicators {
    position: absolute;
    bottom: .5rem;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
    border: none;
}

.indicators.active{
    
}

.indicators button{
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--light);
    opacity: .5;
}