
@color: var(--first);
@bg: var(--light);
@gradient: linear-gradient(var(--first), var(--dark));
@small: 576px;
@min: .5rem;
@mid: 2vw;
@max: 5rem;
@m: 1rem;




#header {
    .flexbox(@ai: center);
      .fontsize(@min*2.5, @mid*1.3, @max);
    width: 80vw;
    margin: 2rem auto;
}

.portrait {
    .responsive-portrait;
}

.responsive-portrait {
    width: 100%;
    max-width: @max *1.5;

}


// Loops

.loop (@i: 1) when (@i < 10) {
    width: @1 * 10%;
    .loop(@1+1);

}


// Colores

.colors(@total; @i:1) when (@i<=@total){
    &:nth-child(@{i}){
        --bg: radial-gradient{
            circle at top left,
            hsl(@i * (360/@total), 50%, 60%),
            hsl(@i * (180/@total), 50%, 40%)
        };
    };
    .colors(@total, @i+1);
}

// Galería de imágenes


.bg(@array; @i:1) when (@i <= lenght(array)){
    @img: extract(@array, @i);
    &:nth-child(@{i}n){
        --bg: url('@{path}/@{img}');
    }
    .bg(@array; @i+1);
}


// Mixings

.flexbox (
    @fd: row;
    @jc: center;
    @ai: stretch;
    @g: 1rem;
    @fw: wrap;
    @d: flex
){
    display: @d;
    flex-direction: @fd;
    justify-content: @jc;
    align-items: @ai;
    flex-wrap: @fw;
    gap: @g;
}

.fontsize (@min; @max; @mid){
    font-size: clamp(@min, @mid, @max);
}