@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Khula&family=Poppins');
@import url(navigation.css);
@import url(header.css);
@import url(skills.css);
@import url(projects.css);
@import url(about.css);
@import url(footer.css);

:root{
    --first: #0066a0;
    --second: rgb(212, 204, 162);
    --light: #E4EAEA;
    --gray: #ccc;
    --dark: rgb(43, 44, 51);
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,
nav,
h1, 
h2,  
h3,  
.header,
main,
nav,
.main-nav{
    margin: 0;
}


.menu, ul {
    padding: 0;
}


nav,
.header,
.works,
body {
    background-color: var(--light);
    color: var(--dark);
}



nav a,
footer a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3 {
    color: var(--first);
}

body {
    display: grid;
    grid-template-areas: 
            'header'
            'main'
            'footer'
            'nav';
}

#header{
    grid-area: header;
}

main{
    grid-area: main;
}

#footer {
    grid-area: footer;
}

nav {
    grid-area: nav;
}

@media screen and (min-width:768px){
    body {
        grid-template-areas: 'nav' 'header' 'main' 'footer';
    }
}