/* Projects */

#proj_header{
    margin: auto;
    animation: none;
}

#proj-title {
    height: 50px;
}

.projects{
    width: 80vw;
    margin: auto;
    text-align: center;
    background-color: var(--first);
    color: var(--light);
    padding: 1rem;
}
.project{
    margin: 2rem 0;
}
.p-img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: 100%;
}


.menu-prac ul {
    display: flex;
    gap: 2rem;
}

.menu-prac a {
    text-decoration: none;
    color: var(--second);
}
.projects h2{
    color: white;
    border-bottom: 1px solid white;
}
.projects h3{
    color: var(--light);
}