  .skills{
    width: 80vw;
    margin: auto;
    text-align: center;
  }
  .skills div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 3rem;
  }

  .skills-list{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: .75rem;
  }
.skills-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }


  #languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
  }

  #languages ul{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }


  @media screen and (min-width: 992px) {
    .skills i {
      text-shadow: 0,0,0,0;
    }
    .skills i :hover {
      text-shadow: 0.1rem 0.1rem 0.3rem var(--second);

    }
  }