@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Khula&family=Poppins');
@import url(general.css);
@import url(navigation.css);
@import url(dist/header.css);
@import url(about.css);
@import url(main.css);
@import url(practices.css);
@import url(gallery.css);
@import url(animations.css);
@import url(balls.css);


/* Declaraciones */

:root{
    --first: #071b1f;
    --second: rgb(234, 156, 0);
    --light: #E4EAEA;
    --gray: #ccc;
    --dark: #333;
    --danger: #c33;
    --warning: #FC0;
    --seccess: #0c3;
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,
nav,
h1, 
h2,  
h3,  
.header,
main,
nav {
    margin: 0;
}


.menu, ul {
    padding: 0;
}


nav,
.header,
.works,
body {
    background-color: var(--first);
    color: #F4F4F4;
}


nav a,
footer a {
    text-decoration: none;
}

li {
    list-style: none;
}

